$bodyfont: 'Trebuchet MS';
$headerfont:'Josefin';
$bodyfont2:'Century Gothic';
$lightblue: #4B93FF;
$darkteal:	rgb(9, 167, 179);
$greenteal:#38E1D0;
$govblue:#273B7A;
$govred:#FF314F;
$hhayellow:	#EFC849;
$providerblue:#71E3EE;

@font-face {
    font-family: 'Josefin';
    src: url('fonts/JosefinSans-Regular.ttf') format('truetype');
    src: local('fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #777788;
    
    background-size: 100%;
}
.body{
    background-image: url("/static/homepage/media/back2.png");
}
.bodofficial{
    background-image: url("/static/homepage/media/yellowback.png");
}

a:hover{
    text-decoration: none;
}
footer{
    text-align: center;
    color:#33ccff;
}
.clearfix {
    clear: both;
}
.site_icon{
    height: 100px;
    width:auto;
    position: fixed;
    top:10px;
    left: 10px;
}
header {
    text-align: center;
    padding: 15px 20px;
}
.active{
    font-weight: bolder;
    background-color: #33ccff;
}
.mynav{
    color:$darkteal;
    margin-left: 100px;   
}
.mynav-item a {
    color:grey;
    font-family: $headerfont;
    font-size: 20px;
    text-shadow:1px 0px rgba(0, 0, 0, 0.062);
}
header > .title {
    display: inline-block;
    color : $darkteal;
    background-color: none;
    font-family: $headerfont;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 500px;
    vertical-align: middle;
}

header img {
    height:60px;
    width: auto;
    top:10px;
    left:10px;
    margin-right: 24px;
    position: absolute;
}
.formlabel{
    color:$darkteal;
    font-weight: lighter;
    font-size: 28px;
    font-family: $headerfont;
}
.formlabel input{
    font-weight: lighter;
    font-family: $bodyfont;
    margin-left: 20px;
    padding-left:10px;
    color:gray;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    font-size: 24px; 
}
.forminput{
    font-weight: lighter;
    font-family: $bodyfont;
    margin-left: 20px;
    padding-left:10px;
    color:rgb(51, 51, 51);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    font-size: 14px;
    width:600px;
    height:200px;
    margin-top:10px;
    
}
.formlabel li{
    color:red;
    list-style: none;
    font-style: italic;
    font-family: 'Century Gothic';
}
.mybtn{
    font-size: 25px;
    font-weight: 50;
    border-radius: 10px;
    font-family: $headerfont;
    background-color:#00000000;
    border-color: rgba(75, 147, 255, 0.575);
    color:$lightblue;
}

.mybtn:hover{
    background-color:rgba(75, 147, 255, 0.575);
    color:white;

}
$sidecolwidth:200px;
main {
    margin: 0;
    padding: 15px;
    position: relative;
    #site_left{
        // background-color: rgba(255, 255, 255, 0.315);
        position: absolute; 
        left: 0; 
        top: 0; 
        width: 50%;
        max-width:$sidecolwidth;
        height: 100% ;
    }
    .site_middle{
        background-color:white;
        border-color: rgba(56, 225, 208, 0.432);
        border-width: 10px;
        border-style: solid;
        margin-left: $sidecolwidth;
        margin-right:$sidecolwidth;
        min-width: 700px;
    }
    #site_right{
        position: absolute;
        right:0;
        top:0;
        width: $sidecolwidth;
        height:100%;
    }
}
.content{
    background-color: rgba(255, 255, 255, 0.534);
    padding:20px 30px;
    align-content: center;
    align-self: center;
    margin: 20px 0px;
}

footer {
    margin-top: 40px;
    border-top: 1px solid #CCCCCC;
}

footer a {
    display: inline-block;
    margin: 15px 10% 0 0;
}

.copy{
  color:$darkteal;
  font-family: $bodyfont;
  text-align: center;
  text-transform: uppercase;
}
.hhadropdown{
    color:white;
    background-color:rgba(252, 222, 124, 0.926);
}
.hhadropdown a:hover{
    background-color:#99eedc00;
    font-weight: bold;
}
.docdropdown{
    color:white;
    background-color:$providerblue;
}
.docdropdown a:hover{
    background-color:#99eedc00;
    font-weight: bold;
}
.offdropdown{
    color:white;
    background-color:rgba(255, 102, 125, 0.965);
}
.offdropdown a:hover{
    background-color:#99eedc00;
    font-weight: bold;
}
.mydropdown{
    background-color:rgba(255, 255, 255, 0.926);
}
.mydropdown a:hover{
    background-color:#99eedc00;
    font-weight: bold;
}
.userimage{
    width: 100px;
    border-radius: 50px;
}
.loginimg{
    display: inline-block;
     height: 35px;
     width:auto;
     border-radius: 20px;
     padding-top:0;
     margin-top:0;
}
.link{
    color:$greenteal;
}
.link :hover{
    color:$darkteal;
    text-decoration: none;
}
.linkbox{
    display: block;
    border: 1px solid lightgrey;
    border-radius: 34px;
    padding:10px;
    width: 60%;
    min-width: 600px;
    max-width: 500px;
    margin:20px 10%;
}
.alinkbox :hover {
    box-shadow: 2px 2px 1px grey;
}
.linkbox > img{
    width:100px;
    display:inline-block;
    margin:10px;
    margin-right:30px;
    vertical-align: middle;
    box-shadow: none !important;
}

.linkbox > p{
    display:inline-block;
    font-family: $headerfont;
    font-size:60px;
    vertical-align: middle;
    text-align: center;
    box-shadow: none !important;
}

.linkbox > .gov{
    color:$govblue;
    border-color:$govblue;
}
.linkbox > .prov{
    color:$providerblue;
    border-color:$providerblue;
}
.linkbox > .hha{
    color:$hhayellow;
    border-color:$hhayellow ;
}
.linkbox > p :hover{
    font-weight: bold;
}
.homeparg{
    font-family: $bodyfont2;
    font-size:24px;
    color:#525252;
    padding-bottom: 20px;
}
.official{
    border-color: rgba(239, 200, 73, 0.397) !important;
}
.officials >.content{
    border-color: rgba(239, 200, 73, 0.397);
}
.presnav{
    color:$govblue !important;
    background-color:rgba(113, 228, 238, 0.61) !important;
    opacity: 80%;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.navtitle{
    border-style:none;
    display: block;
  padding: 0.5rem 1rem;
  cursor: default;
}
.prestext{
    color:$govblue !important;
}
.offtext{
    color:rgb(117, 8, 24)!important;
}
.hhatext{
    color:rgb(145, 112, 5) !important;
}
.navtitle :hover{
    border-style:none !important;
}
.offnav{
    color:rgb(117, 8, 24)!important;
    background-color:rgba(255, 49, 80, 0.403) !important;
    border-color:rgba(255, 49, 80, 0.603) !important;
    opacity: 80%;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.hhanav{
    color:rgb(145, 112, 5) !important;
    background-color: rgba(239, 200, 73, 0.616) !important;
    opacity: 80%;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

/* mobile friendly stuff*/
@media (min-width: 1400px) { 
    .hometitle{
        font-size:140px;
    }
    .linkbox{
        margin-left:20%;
        margin-right:20%;
    }
}


.log-btn{
    display:none;
}