html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #777788;
  background-size: 100%;
}

.body {
  background-image: url("/static/homepage/media/back2.png");
}

.bodofficial {
  background-image: url("/static/homepage/media/yellowback.png");
}

a:hover {
  text-decoration: none;
}

footer {
  text-align: center;
  color: #33ccff;
}

.clearfix {
  clear: both;
}

.site_icon {
  height: 100px;
  width: auto;
  position: fixed;
  top: 10px;
  left: 10px;
}

header {
  text-align: center;
  padding: 15px 20px;
}

.active {
  font-weight: bolder;
  background-color: #33ccff;
}

.mynav {
  color: #09a7b3;
  margin-left: 100px;
}

.mynav-item a {
  color: #0a8369;
  font-family: "Century Gothic";
  font-size: 20px;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.062);
}

header > .title {
  display: inline-block;
  color: #09a7b3;
  background-color: none;
  font-family: "Century Gothic";
  font-weight: 800;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 500px;
  vertical-align: middle;
}

header img {
  height: 60px;
  width: auto;
  top: 10px;
  left: 10px;
  margin-right: 24px;
  position: absolute;
}

.formlabel {
  color: #09a7b3;
  font-weight: lighter;
  font-size: 28px;
  font-family: "Century Gothic";
}

.formlabel input {
  font-weight: lighter;
  font-family: "Trebuchet MS";
  margin-left: 20px;
  padding-left: 10px;
  color: gray;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  font-size: 24px;
}

.forminput {
  font-weight: lighter;
  font-family: "Trebuchet MS";
  margin-left: 20px;
  padding-left: 10px;
  color: #333333;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  font-size: 14px;
  width: 600px;
  height: 200px;
  margin-top: 10px;
}

.formlabel li {
  color: red;
  list-style: none;
  font-style: italic;
  font-family: "Century Gothic";
}

.mybtn {
  font-size: 25px;
  font-weight: 50;
  border-radius: 10px;
  font-family: "Century Gothic";
  background-color: #00000000;
  border-color: rgba(75, 147, 255, 0.575);
  color: #4B93FF;
}

.mybtn:hover {
  background-color: rgba(75, 147, 255, 0.575);
  color: white;
}

main {
  margin: 0;
  padding: 15px;
  position: relative;
}
main #site_left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  max-width: 200px;
  height: 100%;
}
main .site_middle {
  background-color: white;
  border-color: rgba(56, 225, 208, 0.432);
  border-width: 10px;
  border-style: solid;
  margin-left: 200px;
  margin-right: 200px;
  min-width: 700px;
}
main #site_right {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
}

.content {
  background-color: rgba(255, 255, 255, 0.534);
  padding: 20px 30px;
  align-content: center;
  align-self: center;
  margin: 20px 0px;
}

footer {
  margin-top: 40px;
  border-top: 1px solid #CCCCCC;
}

footer a {
  display: inline-block;
  margin: 15px 10% 0 0;
}

.copy {
  color: #09a7b3;
  font-family: "Trebuchet MS";
  text-align: center;
  text-transform: uppercase;
}

.mydropdown {
  color: #4B93FF;
  background-color: white;
}

.mydropdown a {
  color: #4B93FF;
  margin-left: 20px;
  right: 0;
}

.mydropdown a:hover {
  background-color: #99eedc00;
  color: #4B93FF;
  font-weight: bold;
}

.userimage {
  width: 100px;
  border-radius: 50px;
}

.loginimg {
  display: inline-block;
  height: 35px;
  width: auto;
  border-radius: 20px;
  padding-top: 0;
  margin-top: 0;
}

.link {
  color: #38E1D0;
}

.link :hover {
  color: #09a7b3;
  text-decoration: none;
}

.linkbox {
  display: block;
  border: 1px solid lightgrey;
  border-radius: 34px;
  padding: 10px;
  width: 60%;
  min-width: 600px;
  max-width: 500px;
  margin: 20px 10%;
}

.alinkbox :hover {
  box-shadow: 2px 2px 1px grey;
}

.linkbox > img {
  width: 100px;
  display: inline-block;
  margin: 10px;
  margin-right: 30px;
  vertical-align: middle;
  box-shadow: none !important;
}

.linkbox > p {
  display: inline-block;
  font-family: "Century Gothic";
  font-size: 60px;
  vertical-align: middle;
  text-align: center;
  box-shadow: none !important;
}

.linkbox > .gov {
  color: #273B7A;
  border-color: #273B7A;
}

.linkbox > .prov {
  color: #71E3EE;
  border-color: #71E3EE;
}

.linkbox > .hha {
  color: #EFC849;
  border-color: #EFC849;
}

.linkbox > p :hover {
  font-weight: bold;
}

.homeparg {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-size: 24px;
  color: #525252;
  padding-bottom: 20px;
}

.official {
  border-color: rgba(239, 200, 73, 0.397) !important;
}

.officials > .content {
  border-color: rgba(239, 200, 73, 0.397);
}

.presnav {
  color: #273B7A !important;
  background-color: rgba(113, 228, 238, 0.61) !important;
  opacity: 80%;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.navtitle {
  border-style: none;
  display: block;
  padding: 0.5rem 1rem;
  cursor: default;
}

.prestext {
  color: #273B7A !important;
}

.offtext {
  color: #750818 !important;
}

.hhatext {
  color: #917005 !important;
}

.navtitle :hover {
  border-style: none !important;
}

.offnav {
  color: #750818 !important;
  background-color: rgba(255, 49, 80, 0.603) !important;
  opacity: 80%;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.hhanav {
  color: #917005 !important;
  background-color: rgba(239, 200, 73, 0.616) !important;
  opacity: 80%;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

/* mobile friendly stuff*/
@media (min-width: 1400px) {
  .hometitle {
    font-size: 140px;
  }

  .linkbox {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/*# sourceMappingURL=base.scss.css.map */
