.portaltitle {
  color: grey;
  font-family: 'Century Gothic','Josefin','Sans-Serif';
  font-size: 50px;
  text-align: left;
  padding-left: 10px;
}

.doccontent {
  background-color: white;
  border-color: rgba(39, 58, 122, 0.644);
  border-width: 10px;
  border-style: solid;
  margin-left: 200px;
  margin-right: 200px;
  min-width: 700px;
}

.doctitle {
  color: #273B7A !important;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.docbod {
  background-image: url("/static/homepage/media/backgrounds/providerback.png");
  background-size: 100%;
}

.offcontent {
  background-color: white;
  border-color: rgba(9, 167, 179, 0.64);
  border-width: 10px;
  border-style: solid;
  margin-left: 200px;
  margin-right: 200px;
  min-width: 700px;
}

.offtitle {
  color: #09a7b3 !important;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.offbod {
  background-image: url("/static/homepage/media/backgrounds/offback.png");
  background-size: 100%;
}

.hhscontent {
  background-color: white;
  border-color: rgba(9, 167, 179, 0.64);
  border-width: 10px;
  border-style: solid;
  margin-left: 200px;
  margin-right: 200px;
  min-width: 700px;
}

.hhstitle {
  color: #09a7b3 !important;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.hhsbod {
  background-image: url("/static/homepage/media/backgrounds/hhaback.png");
  background-size: 100%;
}

.copy {
  color: #09a7b3;
}

#id_gender, #id_state, #id_specialty, #id_drugtype, #id_isOpiodPres, #id_sellsOpiod {
  font-weight: lighter;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 5px 10px;
  color: gray;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  font-size: 24px;
  background-color: white;
  width: 250px;
  margin: 0px 0px 0px 20px;
}

.provtab {
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.provtab th {
  font-family: 'Century Gothic','Josefin','Sans-Serif', sans-serif;
}

.tabhead {
  font-weight: bold;
  font-family: 'Century Gothic','Josefin','Sans-Serif', sans-serif;
  color: #444444;
  font-size: 30px;
}

.formlabel input {
  width: 250px;
}

.mybtn {
  background-color: #00000000;
  border-color: rgba(1, 36, 90, 0.575);
  color: #273B7A;
}

.mybtn:hover {
  background-color: rgba(1, 36, 90, 0.575);
  color: white;
}

.message {
  color: #FF314F;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.bigtab {
  vertical-align: top;
}

.link2 {
  font-family: 'Century Gothic','Josefin','Sans-Serif';
  color: #097077;
}

.link2:hover {
  color: #01a2ad;
}

.red:hover {
  color: #640303;
}

.tophalf {
  margin: 10px;
  display: block;
  border-style: solid;
  border-color: #b4b4b4;
  border-width: 1px;
}

.detstab {
  width: 100%;
}

.detstab img {
  width: 180px;
  border: #d8d8d8 10px solid;
  margin-bottom: 20px;
}

.detstab td {
  font-family: 'Century Gothic','Josefin','Sans-Serif', sans-serif;
}

.bothalf {
  margin: 10px;
  display: block;
  border-style: solid;
  border-color: #b4b4b4;
  border-width: 1px;
}

.sidehalf {
  display: inline-block;
  width: 40%;
  margin: 10px;
  display: block;
  border-right-style: solid;
  border-color: #b4b4b4;
  border-width: 1px;
}

.bio {
  margin-left: 60px;
  padding-left: 40px;
}

.info {
  font-size: 26px;
  line-height: 26px;
}

.spec {
  font-size: 26px;
}

.name {
  padding-top: 10px;
  font-weight: bold;
  font-size: 56px;
  color: #273B7A;
  line-height: 56px;
}

.red {
  color: red;
  font-weight: bold;
}

.stat {
  color: #71E3EE;
}

.botinfo {
  text-align: center;
  vertical-align: top;
}

.head {
  font-weight: bold;
  font-size: 32px;
  color: #b3b3b3;
}

.percent {
  width: auto;
  min-width: 150px;
  max-width: 300px;
  display: inline-block;
  vertical-align: middle;
  border: lightgray 1px none;
  border-left-style: solid;
  text-align: left;
}

.rxOver {
  color: Red;
}

.rxOn {
  color: grey;
}

.rxUnder {
  color: #00c200;
}

.greyback {
  background-color: rgba(173, 173, 173, 0.12);
}

.darkgreyback {
  background-color: rgba(173, 173, 173, 0.308);
}

.rxName {
  padding: 10px;
  margin-top: 2px;
}

.botbord {
  margin-left: 10%;
}

.green {
  color: green;
  font-weight: bold;
}

.yellow {
  color: #838302;
  font-weight: bold;
}

.redRisk {
  color: red;
  font-weight: bold;
}

/*# sourceMappingURL=app_base.scss.css.map */
