$govblue:#273B7A;
$govred:#FF314F;
$hhayellow:	#EFC849;
$providerblue:#71E3EE;
$sidecolwidth:200px;
$darkteal:	rgb(9, 167, 179);

.portaltitle{
    color:grey;
    font-family: 'Century Gothic';
    font-size: 50px;
    text-align: left;
    padding-left:10px;
}


.doccontent{
    background-color:white;
        border-color: rgba(39, 58, 122, 0.644);
        border-width: 10px;
        border-style: solid;
        margin-left: $sidecolwidth;
        margin-right:$sidecolwidth;
        min-width: 700px;
    }

.doctitle {
    color : $govblue !important;
    font-size: 40px;
    padding:0;
    margin:0;
}
.docbod{
    background-image: url("/static/homepage/media/backgrounds/providerback.png");
    background-size: 100%;
}

.offcontent{
    background-color:white;
        border-color:rgba(9, 167, 179, .64);
        border-width: 10px;
        border-style: solid;
        margin-left: $sidecolwidth;
        margin-right:$sidecolwidth;
        min-width: 700px;
    }

.offtitle {
    color : $darkteal !important;
}
.offbod{
    background-image: url("/static/homepage/media/backgrounds/offback.png");
    background-size: 100%;
}

.hhscontent{
    background-color:white;
        border-color: rgba(9, 167, 179, .64);
        border-width: 10px;
        border-style: solid;
        margin-left: $sidecolwidth;
        margin-right:$sidecolwidth;
        min-width: 700px;
    }

.hhstitle {
    color : $darkteal !important;
    
}
.hhsbod{
    background-image: url("/static/homepage/media/backgrounds/hhaback.png");
    background-size: 100%;
}
.copy{
    color:$darkteal;
}