<%inherit file="/homepage/templates/base.htm" />
<%! from catalog import models as cmod %>


<%block name="page_title">&mdash; Portal</%block>


<%block name="page_header_title">

%if user.groups.filter(name='Prescribers').exists():
<p class = "doctitle">Prescriber Portal</p>
%else:
    %if user.groups.filter(name='HealthOfficials').exists():
    <p class = "offtitle">Health Official Portal</p>
    %else:
        %if user.groups.filter(name='HHS').exists():
        <p class = "hhstitle">Data Clerk Portal</p>
        %else:
        <p class = "portaltitle">Portal</p>
        %endif
    %endif
%endif
</%block>

<%block name="bodyclass">
%if user.groups.filter(name='Prescribers').exists():
<body class="docbod">
%else:
    %if user.groups.filter(name='HealthOfficials').exists() or user.groups.filter(name='Officials').exists:
    <body class="offbod">
    %else:
        %if user.groups.filter(name='HHS').exists():
        <body class="hhsbod">
        %else:
        <body class="site_middle">
        %endif
    %endif
%endif
</%block>


<%block name="left_content">
</%block>

<%block name="middleclass">
%if user.groups.filter(name='Prescribers').exists():
<div class="doccontent">
%else:
    %if user.groups.filter(name='HealthOfficials').exists():
    <div class="offcontent">
    %else:
        %if user.groups.filter(name='HHS').exists():
        <div class="hhscontent">
        %else:
        <div class="site_middle">
        %endif
    %endif
%endif
</%block>

<%block name="right_content">
</%block>
