<%inherit file="app_base.htm" />

<%block name="page_title">&mdash; Search</%block>
<%block name="left_content">

</%block>

<%block name="site_content">
%if request.user.is_authenticated:
   <div class="content">
      <p class="portaltitle">Search</p>

      <form action="" method="post">
            <table class="formlabel">
            ${ form }
            </table>
            <p style="margin-left:80%; margin-top:15px;"><input type="submit" class="btn mybtn" value="Login"/></p>
          </form>
   </div>
%endif
</%block>

<%block name="right_content">

</%block>