<%inherit file="app_base.htm" />

<%block name="page_title">&mdash; Search</%block>
<%block name="left_content">

</%block>

<%block name="site_content">
%if request.user.has_perm('account.search') or request.user.has_perm('account.safesearch'):
   <div class="content">
      <p class="portaltitle">Search</p>
      <p class="message">${msg}</p>
      <form action="" method="post">
            <table >
               <tr>
                  <td style="width:2%"></td>
                  <td style="width:50%" >
                     <table class="formlabel">
                           ${ form }
                     </table>
                  </td>
                  <td style="border-right-color:grey;border-right-style:solid;border-width:1px; width: 10px"></td>
                  <td style="width:15px"></td>
                  <td style="width:45%">
                     <table class="formlabel"style="vertical-align:top; margin-bottom:165px;">
                         ${form2}
                     </table>
                  </td>
                  <td style="width:3px"></td>
               </tr>
            
            </table>
            <hr>
            
            <p style="margin-left:45%; margin-top:15px;"><input type="submit" class="btn mybtn" value="Search"/></p>
          </form>
   </div>
%endif
</%block>

<%block name="right_content">

</%block>