<%inherit file="/homepage/templates/base.htm" />

<%block name="page_title">&mdash; Catalog</%block>


<%block name="page_header_title">
Catalog
</%block>


<%block name="navbar_items">
<li class="mynav-item">
  <a class="nav-link ${ 'active' if request.dmp.page =='' else ' '}"  href="/">Home</a>
</li>
<li class="mynav-item">
    <a class="nav-link ${ 'active' if request.dmp.page =='contact' else ' '}" href="/contact/">Contact</a>
  </li>
  <li class="nav-item mynav-item">
    <a class="nav-link ${ 'active' if request.dmp.page =='index' else ' '}"  href="/catalog/">Catalog</a>
  </li>             
</%block>

<%block name="left_content">
<div>
<ul>
  <!-- //////////////DONT HARD CODE THIS ////////////////// -->
  


<li class="catlist">
     <a href="/catalog/index/">All Products</a>
</li>
<hr>
<li class="catlist">
  <a href="/catalog/index/1/">Instruments</a>
</li>
<li class="catlist">
  <a href="/catalog/index/3/">Microphones</a>
</li>
<li class="catlist">
  <a href="/catalog/index/2/">Accessories</a>
</li>


</ul>
</div>
</%block>

<%block name="right_content">

<p class="quote">
    "Get in loser, we're going shopping"<br>
    - Regina George
</p>

</%block>
