<%inherit file="app_base.htm" />
<%! from catalog import models as cmod %>

<%block name="page_header_title">
Cart
</%block>

<%block name="site_content">
<div id="content">
    <table class="carttab" width=100%; style="text-align:center;">
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Extended
            </th>
            <th>Actions</th>
        </tr>
        %for item in saleItems :
        <tr>
            <td>
                <img src="${item.product.image_url()}" class="cartimg">
            </td>
            <td>
                <a href="/catalog/product/${item.product.id}"><p class="link">${item.product.name}</p></a>
            </td>
            <td>
                ${item.quantity}
            </td>
            <td>
              $${round(item.price,2)}
            </td>
            <td>
                    $${item.price * item.quantity}
            </td>
            <td>
                <a class="rmv" href="/catalog/cart.remove/${item.product.id}/">Remove</a>
            </td>
        </tr>
        %endfor
        <tr >
            <td>
                &nbsp;
            </td>
            <td>
                Tax
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                $${tax}
            </td>
            <td>
                 &nbsp;
            </td>

        </tr>
        <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    Total
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                   $${total}
                </td>
                <td>
                     &nbsp;
                </td>
    
            </tr>
    </table>
<div style="align-content:center;"></div>
<a class="btn btn-lg buybtn" style="margin-left:42%;" href="/catalog/checkout/${cart.id}">Checkout Now</a>
</div>
</div>
</%block>

<%block name="right_content">

</%block>