<%inherit file="app_base.htm" />

<%block name="page_title">&mdash; About</%block>

<%block name="left_content">

</%block>

<%block name="page_header_title">
About STOP.GOV
</%block>

<%block name="site_content">

<div class="content">
<p class="homeparg">
        <span style="font-size:40px; font-weight: bold;">The opioid crisis is devastating America.</span><br> The latest statistics indicate that the total yearly overdose deaths due to opioids reached a new high of 70,237 in 2017. In that same year, President Trump declared the opioid crisis a public health emergency. 
This web portal aims to mitigate the availabilty of opiods by monitoring prescriptions and identifying potential problems before they happen.
</p>
<a href="/account/login/" style="color:grey;font-family:'Century Gothic','Josefin','Sans-Serif';text-align:center;width:100%;font-size:34px;padding-left:40%">I want to help</a>
</div>


</%block>

