<%inherit file="app_base.htm" />

<%block name="page_title">&mdash; Contact</%block>

<%block name="left_content">

</%block>

<%block name="page_header_title">
Contact STOP.GOV
</%block>

<%block name="site_content">

<div class="content">
<p class="alert">
    ${msg}
</p>


<form method="POST" id="contactform">
    <table class="content formlabel" style="margin-left:15%; padding-right:25%; width: 50%">
        <tr>
            <td>
                    <p class="formlabel"> Name: </p> 
            </td>
            <td>
                    <input type="text" name="yourname" value="${request.user.first_name + ' ' + request.user.last_name if request.user.is_authenticated else ''}"/> 
                </td>
        </tr>
        <tr>
                <td>
                        <p class="formlabel"> Email:  </p>
                </td>
                <td>
                        <input type = "email" name="youremail" value="${request.user.email if request.user.is_authenticated else ''}" />
                    </td>
            </tr>
            <tr>
                    <td>
                            <p class="formlabel"> Message:  </p>
                    </td>
                    <td><textarea name="yourmessage" class="forminput"></textarea>
                            
                        </td>
                </tr>     
    </table>
    <p style="margin-left:40%; margin-top:15px;"><input type="submit" class="btn btn-outline-secondary mybtn"/></p>
</form>
<br><br>
</div>


</%block>

