<%inherit file="app_base.htm" />

<%block name="page_title">&mdash; Home</%block>

<%block name="left_content">

</%block>


<%block name="site_content">
    <div class="content">
      <h3>Welcome to my site. I make cool things. here is an example:</h3>
      <p>

          <iframe width="1000" height="600" src="https://www.youtube.com/embed/qIh-JV3RuSY?rel=0&amp;autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </p>
      </div>
</%block>

<%block name="right_content">

</%block>