<%inherit file="app_base.htm" />

<%block name="page_title">&mdash; Home</%block>

<%block name="bodclass">
class="back2"
</%block>

<%block name="left_content">

</%block>

<%block name="site_content">
%if request.user.is_authenticated:
   <div class="content">
         <p class="homeparg"><span style="font-size:40px; font-weight: bold;">Welcome to STOP.gov! </span>This online portal will help government agencies and providers work together to decrease America's opiod epidemic. Let's start fixing today!</p>  
         <br><hr><br>
         %if request.user.has_perm('account.search') or request.user.has_perm('account.safesearch'):
         <a href="/portal/search/" class="alinkbox">
            <div class="linkbox hha" style="margin-left:10%;width:100vw;max-width: 800px">
               <img src="${STATIC_URL}homepage/media/pill3.png">
               <p class="hha">Search Drugs</p>
            </div>
           </a>
           <a href="/portal/search/" class="alinkbox">
            <div class="linkbox hha" style="margin-left:10%;width:100vw;max-width: 800px">
               <img src="${STATIC_URL}homepage/media/people.png">
               <p style="color:#33BDA6">Search Providers</p>
            </div>
           </a>
         %endif
         %if request.user.has_perm('account.analytics'):
         <a href="/portal/analytics/" class="alinkbox">
            <div class="linkbox hha" style="margin-left:10%;width:100vw;max-width: 800px">
               <img src="${STATIC_URL}homepage/media/analytics.png">
               <p style="color:#8BD6F6">View Analytics</p>
            </div>
           </a>
         %endif
         %if request.user.has_perm('account.CRUD'):
         <a href="/portal/listings/" class="alinkbox">
            <div class="linkbox hha" style="margin-left:10%;width:100vw;max-width: 800px">
               <img src="${STATIC_URL}homepage/media/listing.png">
               <p style="color:#FC5936">Edit Listings</p>
            </div>
           </a>
         %endif
         <br><hr><br>
   </div>
%else:
<div class="content">
     <p class="homeparg"><span style="font-size:40px; font-weight: bold;">Welcome to STOP.gov! </span>This online portal will help government agencies and providers work together to decrease America's opiod epidemic. Login to start today!</p>
     <br><hr><br>
     <input class="log-btn doc-btn" type="checkbox" id="doclogbtn" />
     <input class="log-btn off-btn" type="checkbox" id="offlogbtn" />
     <input class="log-btn hha-btn" type="checkbox" id="hhalogbtn" />

         <div id="logoptions">
            <p style="text-align:center;font-family:'Century Gothic','Josefin','Sans-Serif'; font-size:36px;">I am a:</p>
               <label class="alinkbox" for="doclogbtn">
               <div class="linkbox prov " style="margin-left:200px;">
                  <img src="${STATIC_URL}homepage/media/avatar.png">
                  <p class="prov">Prescriber</p>
               </div>
               </label>
            <label class="alinkbox" for="offlogbtn">
               <div class="linkbox gov" style="margin-left:200px;">
                  <img src="${STATIC_URL}homepage/media/heart.png">
                  <p class="gov">Health Official</p>
               </div>
            </label>
            <label class="alinkbox" for="hhalogbtn">
               <div class="linkbox hha" style="margin-left:200px;">
                  <img src="${STATIC_URL}homepage/media/HHA.png">
                  <p class="hha">HHA Clerk</p>
               </div>
            </label>
         </div>
         <div class="doclog"style="align-content:center;">
               <p style="text-align:center;font-family:'Century Gothic','Josefin','Sans-Serif'; font-size:36px;">I am a:</p>
               <div class="linkbox doc" style="padding-left: 80px;">
                  <img src="${STATIC_URL}homepage/media/avatar.png">
                  <p class="prov">Prescriber</p>
                  <form action="" method="post">
                        <table class="formlabel">
                        ${ form }
                        </table>
                        <p style="margin-left:40%; margin-top:15px;"><input type="submit" class="btn mybtn" value="Login"/></p>
                  </form>
                  <label for="doclogbtn"><p>I'm not a prescriber</p></label>
               </div>
         </div>
         <div class="offlog" style="align-content:center;">
               <p style="text-align:center;font-family:'Century Gothic','Josefin','Sans-Serif'; font-size:36px;">I am a:</p>
               <div class="linkbox off" style="padding-left: 50px;">
                  <img src="${STATIC_URL}homepage/media/heart.png">
                  <p class="gov" style="font-size:52px;">Health Official</p>
                  <br><br>
                  <form action="" method="post">
                        <table class="formlabel">
                        ${ form }
                        </table>
                        <p style="margin-left:40%; margin-top:15px;"><input type="submit" class="btn mybtn" value="Login"/></p>
                  </form>
                  <label for="offlogbtn"><p>I'm not a health official</p></label>
               </div>
         </div>
         <div class="hhalog" style="align-content:center;">
               <p style="text-align:center;font-family:'Century Gothic','Josefin','Sans-Serif'; font-size:36px;">I am a:</p>
               <div class="linkbox off" style="padding-left: 50px;">
                  <img src="${STATIC_URL}homepage/media/HHA.png">
                  <p class="hha" style="font-size:52px;">HHA Clerk</p>
                  <br><br>
                  <form action="" method="post">
                        <table class="formlabel">
                        ${ form }
                        </table>
                        <p style="margin-left:40%; margin-top:15px;"><input type="submit" class="btn mybtn" value="Login"/></p>
                  </form>
                  <label for="hhalogbtn"><p>I'm not a HHA data clerk</p></label>
               </div>
         </div>
      <br>
      <hr>
    </div>
%endif
</%block>

<%block name="right_content">

</%block>